<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="true">
    <include resource="default-log-path.xml" />
    <include resource="default-log-setting.xml" />
    
    <!-- Loggers -->
    <logger name="com.o2osys.kakao" additivity="false">
       <level value="DEBUG"/>
       <appender-ref ref="CONSOLE" />
       <appender-ref ref="ERROR_ROLLING" />
       <appender-ref ref="ROLLING" />
    </logger>
    
    <root level="INFO">
<!--        <appender-ref ref="CONSOLE" /> -->
    </root>
</configuration>
